@use "../../styles/_mixins" as *;
@use "../../styles/_media" as *;

.content {
  &__title {
    @include fluid-text(38, 24);
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    overflow: hidden;
    @include text-limit(2);
  }
  &__desc {
    @include fluid-text(18, 14);
    line-height: 1.5;
    color: #999999;
    overflow: hidden;
    @include text-limit(2);

    @include mobile {
      display: none;
    }
  }
}
