@use "../../styles/_mixins" as *;
@use "../../styles/_media" as *;

.content {
  width: 100%;
  &__title {
    @include fluid-text(38, 24);
    line-height: 1.5;
    font-weight: 700;
    color: var(--white);

    overflow: hidden;
    @include text-limit(2);
  }
  &__desc {
    @include fluid-text(18, 14);
    line-height: 1.5;
    color: var(--white);
    opacity: 0.8;
    overflow: hidden;
    @include text-limit(5);

    @include mobile {
      display: none;
    }
  }
}
