@use "../../styles/_mixins" as *;
@use "../../styles/_media" as *;

.big_slider {
  &__inner {
  }
  &__slider_wrapper {
    width: 100%;
    position: relative;
    aspect-ratio: 16/9;
    display: flex;
    max-height: 100vh;

    @include mobile {
      aspect-ratio: 76.5/100;
    }
  }

  &__slider {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    @include mobile {
      aspect-ratio: 76.5/100;
    }
    &_content {
      max-width: 40%;
      &_wrapper {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        pointer-events: none;
      }
    }
    &_watch {
      display: flex;
      gap: fluid-rem(20, 16);
      justify-content: center;
      margin-bottom: fluid-rem(50, 0);

      @include mobile {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      @include tablet {
        margin: 0;
      }

      & svg {
        & path {
          stroke: #fff;
        }
      }

      & button {
        @include reset-button;
        background: #0f0f0f;
        border: 1px solid #262626;
        border-radius: 8px;
        padding: fluid-rem(17, 12);
        display: flex;
        justify-content: center;
        // align-items: center;
        & svg {
          stroke: #fff;
          // fill: #fff;
        }
      }
      &_sub {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: fluid-rem(20, 16);
      }
    }
    &_play {
      padding: fluid-rem(14, 10);
      padding-inline: fluid-rem(24, 20);
      background: #e50000 !important;
      display: flex;
      gap: 5px;
      border: none !important;
      align-self: stretch;
      & svg {
        width: fluid-rem(18, 16);
        & path {
          fill: #fff;
        }
      }
      &_text {
        @include fluid-text(18, 14);
        line-height: 1.5;
        color: #fff;
      }
    }

    &_add {
      & svg {
        width: fluid-rem(23, 20);
      }
    }

    &_thumb {
      & svg {
        width: fluid-rem(23, 20);
      }
    }
    &_pagination {
      position: absolute;
      right: fluid-rem(35, 15);
      // background-color: red;
      z-index: 10;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: toRem(0);

      &_btn {
        @include reset-button;
        position: relative !important;
        width: auto !important;
        height: auto !important;
        font-size: fluid-rem(16, 10);
        color: var(--grey-60);
        background: transparent !important;
        opacity: 1 !important;
        transform: scale(1) !important;
        display: flex !important;
        gap: toRem(15);
        align-items: center;
        justify-content: flex-end !important;
      }
    }
  }
  &__slide {
    width: 100% !important;
    height: 100% !important;
    position: relative;
    display: flex !important;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #14141400, #141414);
      z-index: -1;
      @include tablet {
        // background: linear-gradient(180deg, #14141400 80%, #141414);
        height: 130%;
        bottom: 0;
      }
    }
    &_poster {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &_content {
      display: flex;
      flex-direction: column;
      gap: fluid-rem(16, 10);
    }
    &_title {
      font-size: fluid-rem(48, 24);
      color: var(--white);
      @include text-limit(2);
      line-height: 1.5;
      font-weight: 600;
    }
    &_desc {
      font-weight: 300;
      line-height: 1.5;
      font-size: fluid-rem(18, 14);
      color: #fdf0f0;
      @include text-limit(4);
      @include mobile {
        display: none;
      }
    }
  }
}
.big_slider__slider_pagination_btn {
  &::before {
    content: "";
    transform: translateY(-50%) scaleX(0);
    animation: none;
  }
}
.big_slider__slider_pagination_btn.active {
  color: var(--white) !important;
  font-size: fluid-rem(20, 16);
  &::before {
    content: "";
    position: relative;
    display: block;
    width: toRem(24);
    height: toRem(3);
    background: var(--white);
    border-radius: toRem(8);

    z-index: 100;
    transform-origin: center;
    margin-top: toRem(3);
    animation: grow var(--delay) linear forwards;
  }
}

:global {
  .swiper-pagination {
    width: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: fluid-rem(30, 20) !important;
  }
}

@keyframes grow {
  to {
    transform: translateY(-50%) scaleX(100%);
  }
}
