@use "../../styles/_mixins" as *;
@use "../../styles/_media" as *;

.favorites {
  background: var(--black-08);
  margin-top: fluid-rem(28, 20);
  display: flex;
  flex-direction: column;
  border-radius: toRem(10);
  &__title {
    display: block;
    color: var(--white);
    line-height: 1.5;
    font-weight: 600;
    font-size: fluid-rem(28, 20);
    transform: translateY(-50%);
    align-self: center;
    padding: fluid-rem(8, 6);
    padding-inline: fluid-rem(16, 14);
    background: var(--red-45);
    border-radius: toRem(8);
  }
  &__content {
    display: flex;
    padding: fluid-rem(24, 16);
    padding-top: 0;
    gap: fluid-rem(20, 10);
  }
  &__poster {
    width: 100%;
    aspect-ratio: 27/40;
    border-radius: toRem(8);
    object-fit: cover;
    &_wrapper {
      flex: 1;
    }
  }
}
