:root {
  --font-family-base: "Inter", sans-serif; // YOUR FONT FAMILY HERE

  --container-width: 1590px; // YOUR CONTAINER WIDTH HERE
  --container-padding-x: 20px; // YOUR CONTAINER PADDING X HERE
  --section-padding-y: 100px; // YOUR SECTION PADDING Y HERE
}
